:root {
  --color1: #141827;
  --color2: #2c0323;
  --color3: #7583b4;
  --color4: #c1d9d0;
  --color5: #fffae3;
  color: var(--color5);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color1);
  font-family: 'Work Sans', sans-serif;
  /*Overscroll-behavior:none, evita que se pueda arrastrar la pantalla mas alla del limite*/
  overscroll-behavior: none;
}

/*Barra de navegacion*/
header {
  font-family: 'Work Sans', sans-serif;
  height: 5vw;
}

nav {
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  /*position:fixed, coloca el elemento fijo en pantalla*/
  position: fixed;
  width: 100%;
  height: 5vw;
  box-shadow: 2px 2px 5px var(--color1);
}

section {
  /*Scroll-margin-top, se utiliza para que al usar un enlace de la barra de navegacion se vea correctamente el elemento*/
  scroll-margin-top: 5vw;
}

ul li {
  display: inline;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
  list-style: none;
}

li > a {
  color: var(--color5);
  font-weight: bold;
  font-size: 1.5vw;
}

a {
  text-decoration: none;
  color: var(--color5);
}
/*Fin Barra de navegacion*/
/*Seccion inicio*/
.inicio {
  height: 46vw;
  display: flex;
  align-items: center;
  text-align: center;
}

#inicio-1 {
  flex: 50%;
  padding-left: 4vw;
  margin-bottom: 15vw;
}

#inicio-2 {

  flex: 50%;
  padding-left: 3vw;
  padding-right: 6vw;
  font-size: 1.2vw;
  line-height: 2vw;
  margin-top: 15vw;
}

h2 {
  font-size: 4vw;
}

h4 {
  font-size: 1.5vw;
}
/*Fin Seccion inicio*/
/*Seccion tecnologias*/
.tecnologia {
  height: 46vw;
  display: grid;
  place-content: center;
}

#text-tecnologia {
  position: relative;
  bottom: 10vw;
  left: 45vw;
  font-size: 3vw;
  width: max-content;
}

.tec-contenedor {
  height: 10vw;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-img {
  text-align: center;
  font-weight: bold;
  opacity: 0;
  transition: opacity 1s linear 1s;
}

.img-contenedor {
  display: grid;
  place-content: center;
  height: 9vw;
  width: 7vw;
}

.img-tecnologia {
  height: 5.5vw;
  width: 5.5vw;
  /*transition: -primer valor: elemento al que se aplica la transicion-, -segundo valor: el tiempo que tarda la transicion-, -tercer valor: la curva de velocida de la transicion-, -cuarto valor: el delay para que empiece la transicion-*/
  transition: filter 1s linear 0.3s, height 0.3s linear 0.3s, width 0.3s linear 0.3s;
}
/*Transiciones a los elementos svg*/
#HTML5:hover {
  filter: invert(39%) sepia(54%) saturate(2476%) hue-rotate(347deg) brightness(103%) contrast(99%);
  height: 6.5vw;
  width: 6.5vw;
}
#HTML5:hover + p {
  opacity: 1;
}

#CSS3:hover {
  filter: invert(33%) sepia(69%) saturate(1446%) hue-rotate(177deg) brightness(90%) contrast(104%);
  height: 6.5vw;
  width: 6.5vw;
}
#CSS3:hover + p {
  opacity: 1;
}

#JS:hover {
  filter: invert(65%) sepia(62%) saturate(566%) hue-rotate(356deg) brightness(94%) contrast(90%);
  height: 6.5vw;
  width: 6.5vw;
}
#JS:hover + p {
  opacity: 1;
}

#Bootstrap:hover {
  filter: invert(11%) sepia(100%) saturate(7239%) hue-rotate(269deg) brightness(95%) contrast(104%);
  height: 6.5vw;
  width: 6.5vw;
}
#Bootstrap:hover + p {
  opacity: 1;
}

#Git:hover {
  filter: invert(39%) sepia(54%) saturate(2476%) hue-rotate(347deg) brightness(103%) contrast(99%);
  height: 6.5vw;
  width: 6.5vw;
}
#Git:hover + p {
  opacity: 1;
}

#GitHub:hover {
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
  height: 6.5vw;
  width: 6.5vw;
}
#GitHub:hover + p {
  opacity: 1;
}
/*Fin seccion tecnologias*/

h2, h3, h4 {
  font-family: 'Young Serif', serif;
}

/*Seccion proyectos*/
.proyectos {
  height: 46vw;
  background-color: pink;
  border-color: black;
  border-style: solid;
}

.img-proyectos {
  height: 15vw;
  width: 35vw;
}
/*Fin seccion proyectos*/

/*Seccion contacto*/
.contacto {
  height: 46vw;
  background-color: aqua;
  border-color: black;
  border-style: solid;
}

.img-contacto {
  height: 5vw;
  width: 5vw;
  border-color: red;
  border-style: solid;
}
/*Fin seccioncontact*1